@import 'styles/colors';

.login-page {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $backgroundMain;
}

.login-page__icon {
  margin-bottom: 20px;
}

.login-page__login-form {
  width: 520px;
  background-color: $white;
  padding: 40px 30px;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.login__link {
  margin-top: 20px;
}