@import 'styles/colors';
@import 'styles/mixins';

.history-tile {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 90px;
  background-color: $white;
  overflow: hidden;
  position: relative;
  border-radius: 5px;
  transition: min-width 2s ease;
}

.history-tile__button {
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin-right: 15px;
}

.history-tile_fit-notification {
  min-width: 105px;
}

.history-tile__action-text {
  flex-grow: 1;
  text-align: left;
  max-width: 150px;
}

.history-tile__status_badge {
  margin-right: 5px;
}

.history-tile__list-toggler {
  position: absolute;
  padding: 1px 4px;
  right: 5px;
}

.history-tile__list-toggler-outline {
  &:focus {
    @include outline($outlineBlue, 20px);
    position: absolute;
    right: 5px;
  }
}

.history-tile__notification {
  position: absolute;
  left: 5px;
  right: 5px;
  display: flex;
  justify-content: center;
}