@import 'styles/colors';
@import 'styles/mixins';

.icon-button {
  padding: 4px;

  &:hover {
    .icon-button__icon {
      @include svgFill($blue);
    }
  }

  &:focus {
    .icon-button__icon {
      @include svgFill($blue);
    }
  }

  &:active {
    .icon-button__icon {
      @include svgFill($deepBlue);
    }
  }
}

.icon-button_with-outline {
  &:focus {
    @include outline($blueOutline, 32px);
  }
}

.icon-button__text + .icon-button__icon {
  margin-left: 8px;
}

.icon-button__icon + .icon-button__text {
  margin-right: 8px;
}

.icon-button__content {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}