
@keyframes notification_animation {
  0%   { transform: translate(0, 0); opacity: 1; height: 70px; }
  80%   { transform: translate(0, -100px); opacity: 0; height: 70px; }
  90%   { transform: translate(0, -100px); opacity: 0; height: 40px; }
  100%  { transform: translate(0, -100px); opacity: 0; height: 0px; margin-top: -41px; }
}

@keyframes loading_animation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.notification-animation {
  animation: notification_animation 1s linear 5s 1 normal forwards;
}

.loading-animation {
  animation: loading_animation 1.2s linear infinite;
}
