@use "sass:color";
@import 'styles/colors';

$iColors: (
  "blue": $blue,
);
@each $colorName, $colorValue in $iColors {
  $activeColor: darken($colorValue, 10%);

  .ibutton_#{$colorName} {
    &:hover {
      @include svgFill($colorValue);
    }

    &:focus {
      @include svgFill($colorValue);
    }

    &:active {
      @include svgFill($activeColor);
    }
  }
}

.bg_error {
  background-color: $backgroundError;
}

.bg_info {
  background-color: $backgroundInfo;
}

.bg_white {
  background-color: $white;
}

.bg_main {
  background-color: $backgroundMain;
}

.gradient-background_blue {
  background: linear-gradient($gradientBlueFrom, $gradientBlueTo);

  &:hover {
    opacity: 0.9;
  }

  &:active {
    background: linear-gradient($gradientBlueActiveFrom, $gradientBlueActiveTo);
  }
}

.gradient-background_disabled {
  background: $backgroundDisabled;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    background: linear-gradient($gradientDisabledActiveFrom, $gradientDisabledActiveTo);
  }
}

.background_transparent {
  background: transparent;
}
