@import 'styles/colors';

.bg_error {
  background-color: $backgroundError;
}

.bg_white {
  background-color: $white;
}

.gradient-background_blue {
  background: linear-gradient($gradientBlueFrom, $gradientBlueTo);

  &:hover {
    opacity: 0.9;
  }

  &:active {
    background: linear-gradient($gradientBlueActiveFrom, $gradientBlueActiveTo);
  }
}

.gradient-background_disabled {
  background: $backgroundDisabled;

  &:hover {
    opacity: 0.9;
  }

  &:active {
    background: linear-gradient($gradientDisabledActiveFrom, $gradientDisabledActiveTo);
  }
}

.background_transparent {
  background: transparent;
}
