@import 'styles/colors';

/* HEADER TEXT */
.header-text {
  font-size: 24px;
  line-height: 30px;
  font-style: normal;
  font-weight: normal;
}

.header-text_s {
  font-size: 20px;
}

/* BUTTON TEXT */
.button-text {
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
}

.button-text_white {
  color: $white;
}

/* INPUT TEXT */
.input-text {
  font-size: 18px;
  line-height: 30px;
  font-style: normal;
  font-weight: normal;
}

.input-text_password {
  font-size: 25px;
}
