@import 'styles/colors';

.login-form {
  display: flex;
  flex-flow: column nowrap;
}

.login-form__header-text {
  margin: 0;
  margin-bottom: 20px;
}

.login-form__notification {
  margin-bottom: 20px;
}

.login-form__input + .login-form__input {
  margin-top: 20px;
}

.login-form__button {
  margin-top: 20px;
  width: 110px;
}