@import 'styles/colors';

.login-form {
  width: 520px;
  background-color: $white;
  padding: 40px 30px;
  border-radius: 5px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.login-form__notification {
  margin-bottom: 20px;
}

.login-form__input + .login-form__input {
  margin-top: 20px;
}

.login-form__button {
  margin-top: 20px;
  width: 110px;
}