@import 'styles/colors';
@import 'styles/mixins';

.button {
  border: none;
  border-radius: 5px;
  height: 40px;
  cursor: pointer;
  padding: 10px;
}

.button_blue {
  &:focus {
    @include outline($buttonBlueOutline);
  }
}

.button_disabled {
  cursor: default;

  &:focus {
    @include outline(transparent);
  }
}