@import 'styles/colors';

.button {
  border: none;
  border-radius: 5px;
  height: 40px;
  color: $white;
  cursor: pointer;
  padding: 10px;

  &:hover {
    opacity: 0.9;
  }

  &.button_disabled {
    cursor: default;
    background: $buttonDisabledGray;
  }
}

.button_blue {
  background: linear-gradient($buttonBlueFrom, $buttonBlueTo);

  &:focus {
    position: relative;
    outline: none;

    &:after {
      content: '';
      display: block;
      position: absolute;
      height: 40px;
      bottom: -2px;
      left: -2px;
      right: -2px;
      border: 2px solid $buttonBlueOutline;
      border-radius: 7px;
    }
  }

  &:active {
    background: linear-gradient($buttonBlueActiveFrom, $buttonBlueActiveTo);
  }
}
