@import 'styles/colors';

.requests-history {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  opacity: 1;
  transition: all 1s ease;
  height: 52px;
  min-height: 52px;
  overflow-y: hidden;
}

.requests-history_hide {
  height: 0px;
  min-height: 0px;
  padding: 0;
  opacity: 0;
}

.request-history__list-reset {
  list-style: none;
  margin: 0;
}

.requests-history__list {
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding-top: 0px;
  padding-bottom: 6px;
  padding-left: 5px;
  margin-bottom: -22px;
  margin-top: -5px;
  height: 66px;
  overflow-x: scroll;
  overflow-y: hidden;
}

.requests-history__list {
  & > li:last-child {
    padding-right: 15px;
  }
}

// CodeMirror has z-index: 2 lines.
// They cross dropdown
.requests-history_increase-stack {
  z-index: 3;
}

.requests-history__list-item {
  margin-left: 10px;
}

.requests-history__list-item {
  width: auto;
  max-width: 100%;
  transition: width 1s ease, padding 1s ease, max-width 1s ease, margin 1s ease;
}

.history-track_list-item_should-delete {
  width: 0;
  padding: 0;
  margin: 0;
  max-width: 0;
}

.history-track__remove-list-item {
  display: flex;
  align-items: center;
  background-color: $backgroundMain;
  justify-content: center;
  padding-right: 10px;
  padding-left: 10px;
  height: 51px;
}