@import 'styles/colors';
@import 'styles/mixins';

.input {
  display: flex;
  flex-flow: column nowrap;
}

.input:focus-within {
  @include outline($inputOutline);
}

.input__input-label {
  margin-bottom: 5px;
}

/* INPUT LABEL */
.input-label {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.input-label__name {
  font-size: 16px;
}

.input-label__name_error {
  color: $errorRed;
}

.input-label__hint {
  font-size: 12px;
  color: $optionalGray;
  display: flex;
  align-items: flex-end;
}

/* NATIVE INPUT */
.native-input {
  background-color: white;
  border-radius: 5px;
  border: 1px solid $borderBlack;
  height: 40px;
  position: relative;

  &:hover {
    border-color: $inputHover;
  }

  &:focus {
    outline: none;
  }
}

.native-input_error {
  border: 1px solid $errorRed;
  box-shadow: 0px 0px 5px rgba(207, 44, 0, 0.5);

  &:hover {
    border-color: $errorRed;
  }
}

.native-input__input-text {
  padding: 5px 10px;
}
